* {
  overflow-x: hidden;
}

body {
  font-family: 'Assistant',sans-serif;
}

.navbar {
  background-color: #311F3F;
}

.navbar .navbar-brand img {
  height: 80px;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
  font-size: 20px;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    margin-left: 60px;
  }
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.header {
  background-color: #311F3F;
  padding: 180px 0 45vh;
}

.header h1 {
  overflow-y: hidden !important;
  color: white !important;
  margin-top: 12vh;
  display: inline-block;
  font-size: 80px;
}

.header p {
  color: #c4c4c4;
  font-size: 35px;
}

.header .btn {
  padding: 10px 20px;
  border: 1px solid #8900bc;
  display: inline-block;
  color: white;
}

.header .btn:hover {
  color: #0057f8;
}

.header img {
  margin-top: -55vh;
}

@media (max-width: 991px) {
  .header h1 {
    margin-top: 5vh;
    font-size: 60px;
  }
  .header p {
    font-size: 30px;
  }
  .header img {
    display: none;
  }
}

.main {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  margin-top: -160px;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .main {
    margin-top: -45vh;
  }
}

@media (max-width: 991px) {
  .main {
    margin-top: 5px;
  }
}

.main .our-services {
  margin-top: 40px;
}

.main .our-service {
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
  padding-left: 40px;
}

.main .head {
  font-size: 30px;
  font-weight: 500;
}

.main .title-service {
  font-size: 18px;
  font-weight: 500;
}

.main .caption-service {
  font-size: 14px;
  font-weight: lighter;
}

.technology-we-use .container .caption h2 {
  font-size: 60px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .technology-we-use .container .caption h2 {
    margin-top: 30vh;
  }
}

.technology-we-use .container .caption p {
  font-size: 18px;
  color: #989191;
  font-weight: lighter;
}

.technology-we-use .container .caption img {
  height: 80%;
  float: right;
}

@media (max-width: 991px) {
  .technology-we-use .container {
    text-align: center;
  }
  .technology-we-use .container .caption h2 {
    font-size: 30px;
  }
  .technology-we-use .container .caption p {
    font-size: 14px;
  }
  .technology-we-use .container img {
    height: 280px;
    margin-top: 20px;
  }
}

.who-are-we .container {
  margin-top: 14vh;
  text-align: center;
}

.who-are-we .container .capt {
  font-size: 18px;
  font-weight: lighter;
  color: #989191;
}

.who-are-we .container img {
  margin-top: 30px;
}

.who-are-we .container .name {
  font-size: 22px;
}

.who-are-we .container .position {
  font-size: 18px;
  font-weight: lighter;
  color: #989191;
}

.who-are-we .btn-project {
  width: 116px;
  height: 56;
  background-color: #00ED98;
  margin-right: 20px;
}

.who-are-we .btn-help {
  width: 116px;
  height: 56;
  background-color: #A8FEDF;
  color: #C3B1B1;
}

.section-contact-us {
  margin-top: 120px;
  height: 200px;
  background-color: #EAECF6;
  overflow-y: hidden;
}

.section-contact-us .head {
  font-size: 30px;
  font-weight: 500;
  padding-top: 20px;
}

.section-contact-us .caption {
  font-size: 20px;
  font-weight: lighter;
}

.section-contact-us .email {
  font-size: 14px;
  padding-right: 20px;
}

.section-contact-us .whatsapp {
  font-size: 14px;
}

.section-contact-us .contact {
  margin-top: 30px;
}

footer {
  height: 150px;
  background-color: #311F3F;
  overflow-y: hidden;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 70px;
  font-size: 15px !important;
  font-weight: lighter;
}
/*# sourceMappingURL=style.css.map */